* {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.tittles {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}

.fonts {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

/* ----- Header */

main header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #2C3E50;
    position: fixed;
}

main header nav {
    width: 45%;    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    
}
main header a {
    
    font-size: 18px;
}
main header .logo {
    width: 40%;
}
main header .logo > a {
    font-size: 34px;

}

main>header nav li {
    list-style: none;
}

main>header nav li > a {
    text-decoration: none;
    color: #fff;
}

main>header nav li > a:hover {
    color: #ffe227;
    transition: 1s;
}
/* container */

.container{
    width: 100%;
    height: 550px;
    background: #eb596e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 60px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 10px solid #ffe227;
}

.cards {
    width: 100%;
    height: 380px;
    background: #fff;
    display: flex;
    justify-content: center;

}
.cards > h1 {
    color: #000;
    font-size: 40px;
    margin-top: 30px;
}

.about {
    height: 200px;
    background: #ffe227;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
} 

.about a {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}
.about a:hover {
    transition: 1s;
    border-bottom: 10px solid #2C3E50;
}


/* responsive */
@media only screen and (max-width: 900px) {

    main>header nav {
        width: 55%;
    }

    main>header nav li > a {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 800px) {

    .container h1 {
        font-size: 45px;
        border-bottom: 8px solid #ffe227;
    }
    
}
@media only screen and (max-width: 700px) {
    main header {
        height: 120px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    main header .logo {
        width: 100%;
        justify-content: center;
    }
    main header nav {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 450px) {
    main header {
        height: 190px;
    }
    main header .logo {
        height: 45%;
    }
    main header nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    main header nav li {
        width: 100%;
        text-align: center;
    }
    main header nav li:hover {
        background: #ffe227;
    }
    .container {
        justify-content: center;
    }
    .container h1 {
        font-size: 45px;
        border: none;
        text-align: center;
    }
}